<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
		<script src="./js/vue.js"></script>
	</head>

	<body>
		<!-- 模板 view-->
		<div id="app" v-cloak>
			<h2>父组件input</h2>
			<input v-model='message'>
			<hr>
			<h2>子组件</h2>
			<custom v-model='message'></custom>
			<hr>
			{{ message }}
		</div>
		<script>
			
			//自定义全局的组件
			Vue.component("custom", {
				props:['value'],
				data(){
					return {
						val: this.value
					}
				},
				watch: {
					value(newValue){
						this.val = newValue;
					}
				},
				template: `
					<input type="text" v-model='val' @input='changeValue' />
				`,
				methods: {
					changeValue(){
						this.$emit("input", this.val)
					}
				}
			});
			// 数据 model
			var data = {
				message: 'hello'
			};
			// vm view-model
			var vm = new Vue({
				el: "#app",
				data: data
			});

		</script>
	</body>
</html>